:root {
  --big-bold-text: 130px;
  --medium-bold-text: 80px;
  --small-grey-text: 22px;
  --small-black-text: 30px;
  --smallest-grey-text: 16px;
  --upper-bold-text: 110px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
  scroll-behavior: smooth;
}
/* cursor */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.cursor-text {
  font-size: 5px;
  letter-spacing: 1px;
  display: none;
  color: #000;
  font-weight: 600;
}

body {
  background-color: #fff;
  color: #909090;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 1rem 0;
}
.page {
  height: calc(100vh - 71px);
}
.section {
  height: 100vh;
}

/* texts styles */
.big-bold-text {
  font-size: var(--big-bold-text);
  font-weight: bold;
  color: #000;
}
.upper-bold-text{
  font-size: var(--upper-bold-text);
  font-weight: bold;
  color: #000;
}
.medium-bold-text {
  font-size: var(--medium-bold-text);
  font-weight: bold;
  color: #000;
}
.small-grey-text {
  font-size: var(--small-grey-text);
}
.small-black-text {
  font-size: var(--small-black-text);
  color: #000;
}
.smallest-grey-text {
  font-size: var(--smallest-grey-text);
}
.small-bold-black-text {
  font-size: var(--small-black-text);
  font-weight: bold;
  color: #000;
}

/* animatedtext container */
.text {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}

/* tagCloud animation */
.text-shpere {
  position: relative;
  top: 0;
  /* width: 100%; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.tagcloud {
  display: inline-block;
  top: 0;
  left: 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.0625em;
  font-size: 1.3em;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item {
  color: #000;
  text-transform: uppercase;
  /* font-size: 20px; */
}

.tagcloud--item:hover {
  color: #9747ff;
}


/* transition animation */

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: top;
}


/* media queries */

@media only screen and (max-width: 1140px) {
  .container {
    padding: 1rem;
  }
  :root {
    --small-grey-text: 18px;
    --small-black-text: 28px;
    --upper-bold-text: 90px;
    --big-bold-text: 100px;
  }
}

@media only screen and (max-width: 992px){
  .section{
    height: auto;
  }
  body{
    cursor: inherit;
  }
  .custom-cursor{
    display: none;
  }
  
}

@media only screen and (max-width: 600px) {
  :root {
    --small-grey-text: 22px;
    --small-black-text: 30px;
    --upper-bold-text: 60px;
    --big-bold-text: 60px;
    --medium-bold-text: 60px
  }
}

@media only screen and (max-width: 400px) {
  :root {
    --small-grey-text: 22px;
    --small-black-text: 30px;
    --upper-bold-text: 50px;
  }
}


