.container_services {
  padding-top: 1rem;
  display: grid;
  grid-template-rows: repeat(1fr, auto);
}
.services_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid grey;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.services_box h2{
  width: 50%;
}
/* last section home */

.last_section_main {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 1.5rem;
  gap: 4rem;
}



/* buttons */

.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #9747ff;
  width: 55px;
  height: 55px;
  transition: all 0.3s ease;
 }
 
 .cta span {
   position: relative;
  font-size: var(--small-black-text);
  letter-spacing: 0.05em;
  color: #000;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #000;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #9747ff;
}
 
 .cta:hover svg {
   transform: translateX(0);
  }
  
  .cta:active {
  transform: scale(0.95);
 }
 
 /* footer */
 .footer_box{
   width: 100%;
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   padding-bottom: 1rem;
  }
  .right_info, .left_info{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: .5rem;
  }
  
  .footer_box p{
    font-size: var(--smallest-grey-text);
  }
  
  .logo{
    font-size: 32px;
    font-weight: bold;
    color: #000;
  }
  
  .footer_email{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 1rem;
  }
  
  /* media queries */
  @media only screen and (max-width: 992px) {
    .last_section_main{
      padding-top: 6rem;
      padding-bottom: 4rem;
    }
  }
  @media only screen and (max-width: 600px) {
      .footer_box{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
      }
      .right_info, .left_info{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: .5rem;
      }
  }