.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.nav a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.logo {
  font-size: 32px;
  font-weight: bold;
}

.links {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* animation hover links */

.link {
  height: 30px;
  align-items: center;
  color: #000;
  text-decoration: none;
  display: flex;
}

/* Hide extra text */
.mask {
  position: relative;
  padding: 0;
  height: 20px;

  /*  Remove overflow to see how it worksã€€:) */
  overflow: hidden;
}

.link_container {
  transition: transform 0.4s ease;
}

.title {
  display: block;

  /*  Set same font-size and line height  */
  font-size: 20px;
  line-height: 20px;

  transition: transform 0.4s ease;
}

.link_title1 {
  transform-origin: right center;
}

.link_title2 {
  transform-origin: left center;
  transform: rotate(20deg);
}

/* Move up two texts (20px = font-size) */
.link:hover .link_container {
  transform: translateY(-20px);
}

/* Rotate texts a little bit */
.link:hover .link_title1 {
  transform: rotate(20deg);
}

.link:hover .link_title2 {
  transform: rotate(0);
}

